<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name="USER.BookingHistory"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name="USER.Map" />
        <activity android:name="USER.ConfirmationActivity" />
        <activity android:name="USER.UpdateUser" />
        <activity android:name="USER.LoginActivity" />
        <activity android:name="USER.NavigationActivity" />
        <activity android:name="USER.Showprofile" />
        <activity android:name="USER.CreateProfile" />
        <activity android:name="USER.content" />
        <activity android:name="HOSPITAL.FinalView" />
        <activity android:name="HOSPITAL.Modify" />
        <activity android:name="HOSPITAL.Finaldata" />
        <activity android:name="HOSPITAL.Showdet" />
        <activity android:name="HOSPITAL.DATABEDS" />
        <activity android:name="HOSPITAL.HOSPITALDETAILS" />
        <activity android:name="HOSPITAL.LOG" />
        <activity android:name="HOSPITAL.REG" />
        <activity android:name="HOSPITAL.REGandLOG" />
        <activity android:name="USER.details" />
        <activity android:name="USER.register" />
        <activity android:name="USER.R_AND_L" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>